<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Victory Health Homol.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
				<key>dateExpires</key>
				<string>19/03/21</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Branch.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>DACircularProgress.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EAIntroView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>EARestrictedScrollView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FLAnimatedImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GDPDFView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>HexColors.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IDMPhotoBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQDropDownTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JGProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JVFloatLabeledTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBCircularProgressBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MZAppearance.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MZFormSheetController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Mantle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NYTPhotoViewer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OHPDFImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Ono.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>RSSAtomKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SMPageControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>STPopup.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Shimmer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TSMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UICollectionViewLeftAlignedLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UIImage_PDF.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>VMaskTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XLForm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YLProgressBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YangMingShan.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>pop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A8E76BD1B99B515CF2E5EA4BD2A6A024D9B30E97</string>
						<key>dateExpires</key>
						<string>19/03/21</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>youtube_ios_player_helper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WJ6A68S4V8</string>
						<key>name</key>
						<string>Victory Consulting Corretora de Seguros LTDA</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>WJ6A68S4V8.br.com.victorysaude.Victory-HealthHomol</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array/>
				<key>com.apple.developer.healthkit</key>
				<true/>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.br.com.victorysaude.Victory-HealthHomol</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>WJ6A68S4V8</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array>
					<string>iCloud.br.com.victorysaude.Victory-HealthHomol</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Avatar da Saude Hml.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5e1119a9-34d1-4ff1-98eb-58006cb0d0e2</string>
				<key>name</key>
				<string>Victory Health Hml - AdHoc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>WJ6A68S4V8</string>
				<key>name</key>
				<string>Victory Consulting Corretora de Seguros LTDA</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
